.shippingContainer {
    width: 100vw;
    max-width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.shippingBox {
    background-color: white;
    height: 90vh;
    width: 35vmax;
    box-sizing: border-box;
    overflow: hidden;
    padding-top: 5vmax;
}

.shippingHeading {
    text-align: center;
    color : rgba(0,0,0,0.664);
    font : 400 1.5vmax "Roboto";
    padding: 1.3vmax;
    border-bottom: 1px solid rgba(0,0,0,0.205);
    width: 50%;
    margin : auto;
}

.shippingForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding : 2vmax;
    margin : auto;
    justify-content: space-evenly;
    height : 80%;
    transition: all 0.5s;
}

.shippingForm > div {
    display: flex;
    width: 100%;
    align-items: center;
}

.shippingForm > div > input,
.shippingForm > div > select{
    padding: 1vmax 5vmax;
    font: 300 0.9vmax "Roboto";
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgba(0,0,0,0.267);
    border-radius: 4px;
    font : 300 0.9vmax "Roboto";
    outline: none;
}

.shippingForm > div > svg {
    position: absolute;
    transform: translateX(1vmax);
    font-size: 1.6vmax;
    color : rgba(0,0,0,0.623);
}

.shippingBtn {
    margin-top: 1vmax;
    padding: 1vmax 4vmax;
    color: white;
    background-color: lightseagreen;
    border: none;
    border-radius: 4px;
    font : 300 1vmax "Roboto";
    cursor: pointer;
}

.shippingBtn:hover {
    background-color: lightseagreen;
}

@media screen and (max-width:960px) {
    .shippingBox {
        width: 65vw;
        height: 95vh;
    }
    .shippingHeading {
        font: 400 3vw "Roboto";
        padding: 5vw;
    }
}

@media screen and (max-width : 600px){
    .shippingBox {
        width: 90vw;
        height : 95vh;
        padding-top: 6vmax;
    }
    .shippingHeading {
        font : 400 6vw "Roboto";
        padding: 5vw;
    }
    .shippingForm {
        padding: 11vw;
    }
    .shippingForm > div > input,
    .shippingForm > div > select {
        padding: 5vw 10vw;
        font : 300 4vw "Roboto";
    }
    .shippingForm > div > svg {
        font-size: 6vw;
        transform: translateX(3vw);
    }
    .shippingBtn {
        width: 100%;
        font : 300 4vw "Roboto";
        padding: 4vw;
    }
}